<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hard Times Scraper</h1>
            <p class="lead">Hard Times coming your way!</p>
        </div>
    </div>
    <div id="articles"></div>
    <div id="notes"></div>
</div>