<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img src="./images/hard-times.webp" alt="Hard Times">
            <p class="lead">Punk news coming your way!</p>
        </div>
    </div>
    <div id="articles"></div>
    <div id="notes"></div>
</div>