<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img src="./images/hard-times.webp" alt="Hard Times">
            <p class="lead">Punk news coming your way!</p>
            <p class="info">Click a story to view and add comments.</p>
            <p class="info">Click the link to view the story.</p>
        </div>
    </div>
    <div id="articles"></div>
    <div id="notes"></div>
</div>